.git
.idea
.vscode

**/node_modules
.npm-cache
.pnpm-store

.venv
**/.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

dist
build
.taro
.vite
.swc
coverage
logs

.env
.env.*
!**/.env.example

*.log
.DS_Store
Thumbs.db
